@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  background-color: #010016;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}
nav {
  background-color: #01001d;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-top: 30px;
}

nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.presentation-left {
  margin-top: 80px;
  text-align: center;
}

.presentation-left H1 {
  margin-top: 20px;
  font-size: 50px;
}

.presentation-left H3 {
  font-size: 24px;
}

.presentation-left H3:last-child {
  margin-top: 20px;
  text-align: center;
  color: #00aaff;
}

.presentation-left H3:last-child span {
  color: #00ff26;
}

.presentation-divider {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.presentation-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.presentation-logo img {
  width: 35px;
  height: 35px;
  margin: 30px 30px 0px 30px;
}

.presentation-titles {
  width: 100vw;
  color: white;
}

.presentation-face img {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .presentation-divider {
    margin-top: 0px;
  }
  .presentation-left H3 {
    font-size: 35px;
  }
  .presentation-left H1 {
    font-size: 80px;
  }
  .presentation-logo img {
    width: 50px;
    height: 50px;
  }
  .presentation-face img {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .presentation-divider {
    margin-top: 0px;
  }
  .presentation-left H3 {
    font-size: 35px;
  }
  .presentation-left H1 {
    font-size: 80px;
  }
  .presentation-logo img {
    width: 50px;
    height: 50px;
  }
  .presentation-face img {
    width: 500px;
    height: 500px;
  }
}
